@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
body {
  font-family: "Noto Sans JP", sans-serif;
  background: #E9ECEF;
}

.fs-14-b {
  font-size: 14px;
  font-weight: bold;
}

a {
  color: #7d4a95;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
}
a:hover {
  color: #7d4a95;
}

.button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  border-radius: 100px;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 144px;
  height: 49px;
}

.button-block {
  width: 100% !important;
}

.primary-button {
  background: #7d4a95;
  color: #ffffff;
}
.primary-button:hover {
  background: #9257AD;
}

/* ---------------------------------------------------
    MEDIA QUERY STYLE
----------------------------------------------------- */
@media (max-width: 575.98px) {
  .sidebar-container {
    position: fixed;
    left: -100vh;
  }
  .sidebar-container.active {
    left: 0;
    width: 360px;
    margin-left: -15px;
  }
  .sidebar-container.active .sidebar {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
  .sidebar-container.active .sidebar .close-button {
    display: block;
  }

  .main-content .header {
    background-size: cover !important;
    background-position: unset !important;
    background-image: url("../assets/images/header-sp.png") !important;
  }

  .main-content .navbar-brand {
    margin-left: 52px;
    padding: 0;
  }
  .main-content .navbar-brand > a {
    font-size: 22px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .sidebar-container {
    position: fixed;
    left: -100vh;
  }
  .sidebar-container.active {
    left: 0;
    width: 360px;
    margin-left: -15px;
  }
  .sidebar-container.active .sidebar {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
  .sidebar-container.active .sidebar .close-button {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar-container {
    position: fixed;
    left: -100vh;
  }
  .sidebar-container.active {
    left: 0;
    width: 360px;
    margin-left: -15px;
  }
  .sidebar-container.active .sidebar {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
  .sidebar-container.active .sidebar .close-button {
    display: block;
  }

  .main-content .navbar-brand {
    margin-left: 52px;
    padding: 0;
  }
  .main-content .navbar-brand > a {
    font-size: 22px !important;
  }

  .main-content .header {
    background-size: cover !important;
    background-position: unset !important;
    background-image: url("../assets/images/header-tb.png") !important;
  }
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  background: #7d4a95;
  width: 100%;
}
.sidebar .close-button {
  display: none;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  right: -10px;
}
.sidebar-container {
  transition: all 0.2s;
  z-index: 9999;
}
.sidebar-inner {
  background: #ffffff;
  margin-left: 15px;
  height: 100vh;
}
.sidebar-header {
  height: 205px;
  background: #F8F9FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 45px;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #7386D5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: #fff;
  color: #7386D5;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.main-content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
.main-content-inner {
  background: #ffffff;
}
.main-content .navbar-light span {
  color: #6C757D;
}
.main-content .navbar-light .navbar-toggler {
  background: #7d4a95;
  color: #ffff;
  font-size: 25px;
  border-radius: unset;
  padding: 10px;
  position: absolute;
  height: 100%;
  width: 57px;
  left: 0;
}
.main-content .navbar-brand {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-content .navbar-brand > a {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 37px;
  color: #7D4A95;
}
.main-content .navbar-brand > a:hover {
  color: #7D4A95;
  text-decoration: none;
}
.main-content .header {
  background-image: url("../assets/images/header.png");
  width: 100%;
  height: 375px;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */
