/* ---------------------------------------------------
    MEDIA QUERY STYLE
----------------------------------------------------- */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .sidebar-container {
    position: fixed;
    left: -100vh;
    &.active {
      left: 0;
      width: 360px;
      margin-left: -15px;
      .sidebar {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        .close-button {
          display: block;
        }
      }
    }
  }
  .main-content .header {
    background-size: cover !important;
    background-position: unset !important;
    background-image: url("../assets/images/header-sp.png") !important;
  }
  .main-content .navbar-brand {
    margin-left: 52px;
    padding: 0;
    &>a {
      font-size: 22px !important;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .sidebar-container {
    position: fixed;
    left: -100vh;
    &.active {
      left: 0;
      width: 360px;
      margin-left: -15px;
      .sidebar {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        .close-button {
          display: block;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar-container {
    position: fixed;
    left: -100vh;
    &.active {
      left: 0;
      width: 360px;
      margin-left: -15px;
      .sidebar {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        .close-button {
          display: block;
        }
      }
    }
  }
  .main-content .navbar-brand {
    margin-left: 52px;
    padding: 0;
    &>a {
      font-size: 22px !important;
    }
  }
  .main-content .header {
    background-size: cover !important;
    background-position: unset !important;
    background-image: url("../assets/images/header-tb.png") !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}