/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.main-content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  &-inner {
    background: #ffffff;
  }
  .navbar-light {
    span {
      color: $color-gray-drak;
    }
    .navbar-toggler {
      background: #7d4a95;
      color: #ffff;
      font-size: 25px;
      border-radius: unset;
      padding: 10px;
      position: absolute;
      height: 100%;
      width: 57px;
      left: 0;
    }
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &>a {
      font-size: 28px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 37px;
      color: #7D4A95;
      &:hover {
        color: #7D4A95;
        text-decoration: none;
      }
    }
  }

  .header {
    background-image: url("../assets/images/header.png");
    width: 100%;
    height: 375px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
}