/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  background: $color-primay;
  width: 100%;
  .close-button {
    display: none;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    right: -10px;
  }
  &-container {
    transition: all 0.2s;
    z-index: 9999;
  }
  &-inner {
    background: #ffffff;
    margin-left: 15px;
    height: 100vh;
  }
  &-header {
    height: 205px;
    background: $color-gray-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
  }
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #7386D5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: #fff;
  color: #7386D5;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  &.active {
    display: block;
    opacity: 1;
  }
}