@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
  font-family: 'Noto Sans JP', sans-serif;
  background: #E9ECEF;
}
.fs-14-b {
  font-size: 14px;
  font-weight: bold;
}
a {
  color: #7d4a95;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  &:hover {
    color: #7d4a95;
  }
}
.button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  border-radius: 100px;
  user-select: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 144px;
  height: 49px;
}
.button-block {
  width: 100% !important;
}
.primary-button {
  background: #7d4a95;
  color: #ffffff;
  &:hover {
    background: #9257AD;
  }
}